/*fonts links*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*common css*/
body{
	font-family: 'Roboto', sans-serif;;
	font-size: 16;
	font-weight: 400;
	color: #d7d7d7;
}
.common_btn{
    color: #ffffff;
    background-color: #e54c2a;
}
.common_btn:hover{
 color: black;
 background-color: #d7d7d7;
 border: 1px solid black;
}
.common_btn:focus{
 color: black;
 background-color: #d7d7d7 !important;
 border: 1px solid black !important;  
}
/*header start*/
header{
    padding-bottom: 40px;
    border-top: 6px solid #e54c2a;
    border-bottom: 2px solid #eeeeee;
}
.h_img{
	margin-top: 25px;
}
.h_img img{}
.h_n{
    padding-top: 28px !important;
}
.h_n ul{
}
.h_n ul li{
}
.h_n ul li a{
    padding-right: 40px !important;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.h_n ul li a:hover{
    color: #e54c2a !important;    
}
.h_btn i{
   color: #8e8e8e;
}
.h_btn i:hover{
    border: none;
    color: #e54c2a !important;   
}
.b_mcon{
    padding: 5px;
    font-family: roboto-regular;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    background-color: #fff;
    border: 1px solid #8e8e8e;
    border-radius: 2px;
}
.modalbx{
    background-color: #00000080;
}
.modalbox_input{
    font-family: roboto-regular;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    border: 1px solid #8e8e8e;
    border-radius: 2px;
}
.modalbox_input:focus{
    border-color: black;
    box-shadow: none;
}
.sear_btn{
    padding: 6px 10px;
    color: #8e8e8e;
}
/*header end*/

/*order now starts*/
.order{
	padding: 150px 0;
	background-image: url(../images/backgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.order1{

}
.o_h1{
	color: black;
	font-size: 50px;
    text-transform: uppercase;
}
.o_h1 span{
  color: #e54c2a;
}
.o_p{
 margin: 30px 0;
 padding-right: 250px;
}
.o_btn{
	padding: 10px 30px !important;
	color: white;
	background-color: #e54c2a;
}
/*order now ends*/
/*about starts*/
.about{}
.a_img{}
.a_img img{}
.a2{
	padding: 42px 25px;
	color: #ffffff;
	background-color: #e54c2a;
}
.a_h1{
  font-size: 20px;
}
.a_p{
  margin-top: 30px;
  font-size: 12px;
}
/*about ends*/
/*popular dishes start*/
.popular_dish{
    padding: 100px 0;
}
.di_h1{
    color: black;
    text-align: center;
    font-size: 35px;
}
.di_h1 span{
    color: #e54c2a;
}
.di_p{
    margin: 30px 0;
    color: black;
    text-align: center;
}
.di_img{
    text-align: center;
}
.di_img img{}
.sin_dish{
    margin: 50px 0;
    padding: 5px 10px 20px;
    border-radius: 2px;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
}
.pd_h2{
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}
.pd_div{
    color: #e54c2a;
    text-align: center;
}
.pd_btn{
  padding: 15px 30px !important;  
  text-transform: uppercase;  
}
.pd_btn i{
    margin-left: 15px;
}
/*popular dishes end*/
